.saved-summary {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tracking-title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}